@import "../../../common.scss";
.Main {
  position: relative;
  flex: 1 0 auto;
  width: 100%;
  max-width: $max-width;
  padding: $lr-padding;
  margin: 0 auto;
  transition: all $timing-transition ease-in;

  display: flex;
  flex-wrap: wrap;

  @media #{$break-smallMax} {
    padding: 1.6em;
    justify-content: center;
  }

  &__text {
    position: relative;
    margin: 40px 0;
    width: 63%;

    @media #{$break-smallMax} {
      margin-top: initial;
      text-align: center;
      width: 100%;
    }

    &__title {
      @include showAnimation;
      animation-delay: calc(#{$time-delay} + 0.6s);
      position: relative;
      font-size: 4.5em;
      font-family: "Raleway", sans-serif;
      letter-spacing: -0.02em;
      margin-bottom: 50px;
      transition: all 1s linear;

      @media #{$break-smallMax} {
        font-size: 1.8em;
        margin-bottom: 20px;
      }
    }

    &__content {
      @include showAnimation();
      animation-delay: $time-delay + 0.8;
      margin-bottom: 15px;
      font-size: 1.1em;
      letter-spacing: 0.04em;

      @media #{$break-smallMax} {
        font-size: 1em;
        line-height: 1.4;
      }
    }
  }

  &__figure {
    z-index: -1;
    clip-path: circle(0 at 50% 100%);
    animation: showImg 4s cubic-bezier(0.165, 0.84, 0.44, 1) 1.5s forwards;

    @keyframes showImg {
      100% {
        clip-path: circle(200% at 50% 100%);
      }
    }
  }

  &--inicio {
    .Main__text {
      margin-top: 60px;

      @media #{$break-largeHeight} {
        margin-top: 150px;
      }
    }

    .Main__figure {
      @include position(fixed, unset, 0, 0, 0);
      // .leaf-svg {
      //   animation: leaf 3s ease infinite;

      //   @keyframes leaf {
      //     50% {
      //       d: path(
      //         "M283,489.8c0,0-11.7-9-3.6-22.7c8-13.7,32.5-17.8,34.1-14.6s-8.4,8.8-10,12s-8.8,18.7-14.5,21.9S283,489.8,283,489.8z"
      //       );
      //     }
      //   }
      // }
      .phone-svg {
        animation: movePhone 3s ease-in-out infinite;

        @keyframes movePhone {
          50% {
            transform: translateY(10px);
          }
        }
      }

      @media #{$break-smallMax} {
        bottom: -20px;
        .woman-svg,
        .phone-svg {
          display: none;
        }
      }
    }
  }

  &--personal {
    align-items: center;

    .Main__figure {
      margin: 10px;
      width: 30%;

      @media #{$break-smallMax} {
        width: 100%;
        margin: 10px;
      }
      @media #{$break-largeHeight} {
        width: 80%;
      }
    }

    .Main__text__content:nth-of-type(1) {
      margin-bottom: 40px;
    }
  }

  &--contacto {
    .Main__figure {
      @include position(absolute, 100px, 10%, 0, unset);
      transform: rotate(-45deg);
      width: 80%;
      clip-path: circle(0 at 0 0);
      animation: showPlane 4s linear 1.5s forwards;

      @keyframes showPlane {
        100% {
          clip-path: circle(200% at 0 0);
        }
      }

      .plane-svg {
        transform: translate(-90px, -90px) rotate(15deg);
      }

      @media #{$break-smallMax} {
        transform: rotate(-55deg);
        top: 30px;
        width: inherit;
      }
    }
  }
}
