@import "../common.scss";

.Button {
  cursor: pointer;
  position: relative;
  max-width: 400px;
  width: 100%;
  padding: 15px 10px;
  margin: 35px 0;
  font-size: 1.2em;
  color: $sc-color;
  background: linear-gradient(to left, $brand-color_1, $brand-color_2);
  overflow: hidden;
  border-radius: 4px;
  border: none;
  box-shadow: 0 15px 40px rgba($brand-color_2, 0.2);
  transition: all 200ms ease-in;

  &:hover {
    box-shadow: 0 0 5px rgba($brand-color_2, 0.2);
  }

  &:active {
    transform: scale(0.99);
  }

  &--contact {
    @include showAnimation;
    animation-delay: 3s;
  }
}
