@import "../common.scss";

.Dot {
  display: table-caption;
  position: relative;
  cursor: pointer;
  height: $dot-size;
  width: $dot-size;
  border-radius: 50%;
  background: $pp-color;
  margin: 15px;
  opacity: 0.7;
  transition: all 500ms ease-in-out;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: $dot-size;
    width: $dot-size;
    border-radius: 50%;
    background: inherit;
  }

  &:hover::before {
    animation: pulse 800ms ease-in-out;

    @keyframes pulse {
      100% {
        transform: scale(6);
        opacity: 0;
      }
    }
  }

  &.active {
    background: $brand-color_2 !important;
    transform: scale(1.4);
  }
}
