@import "../common.scss";

.Header {
  @include position(fixed, 0, 0, 0, 0);
  @include showAnimation;
  animation-delay: $time-delay;
  height: $header-height;
  margin: $lr-padding;
  margin-bottom: 0;
  padding: 10px;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media #{$break-smallMax} {
    margin: $responsive-padding $responsive-padding 0 $responsive-padding;
  }

  &__figure {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      display: flex;
      align-items: center;
    }

    &__text {
      @include header-text();
      font-weight: lighter;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    transition: all $timing-transition cubic-bezier(0.165, 0.84, 0.44, 1);

    &__email {
      @include showAnimation();
      animation-delay: calc(#{$time-delay} + 1s);
      text-transform: uppercase;
      letter-spacing: 0.15px;
      font-size: 0.8em;
      margin: 50px;
      color: $pp-color;
    }

    @media #{$break-smallMax} {
      @include position(fixed, 0, 0, 0, 0);
      display: none;
      background: $sc-color;
      flex-direction: column;
      justify-content: flex-end;
      transform: translateY(-100%);
      animation: showMenu $timing-transition cubic-bezier(0.165, 0.84, 0.44, 1)
        forwards;

      @keyframes showMenu {
        100% {
          transform: translateY(0);
        }
      }

      &.showMenu {
        display: flex;
      }
    }
  }

  &__responsive {
    z-index: 1;
    display: none;
    font-size: 1em;
    color: inherit;
    padding: 5px;
    align-items: center;

    @media #{$break-smallMax} {
      display: flex;
    }

    &__lines {
      position: relative;
      height: 24px;
      width: 24px;
      margin-left: 5px;
      display: block;
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        border-top: 1px solid;
        width: 70%;
        transition: all 200ms ease;
      }
      &::before {
        transform: translate(-50%, -4px);
      }
      &::after {
        transform: translate(-50%, 2px);
      }

      &.is-visible {
        &::before {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
        &::after {
          transform: translate(-50%, -50%) rotate(45deg);
        }
      }
    }
  }
}
