@import "../common.scss";

.Link {
  @include header-text();
  position: relative;
  margin-left: 35px;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 0 solid $brand-color_2;
    transition: all 500ms ease;
  }

  &:hover::before {
    border-width: 1px;
    width: 80px;
    height: 80px;
  }

  &.active {
    color: $brand-color_2;
  }
}
