@import "common.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  ::-moz-selection {
    background: rgba($brand-color_2, 0.5);
    color: white;
  }
  ::selection {
    background: rgba($brand-color_2, 0.5);
  }
}

body {
  height: 100%;
  font-size: 100%;
  font-family: "Muli", sans-serif;
  background: $sc-color;
  overflow: hidden;
  transition: background $timing-transition ease-in;

  a {
    text-decoration: none;
    color: inherit;
    outline: none;
  }

  button,
  section {
    outline: none;
  }

  li {
    list-style: none;
  }

  nav {
    &:hover > a:not(:hover) {
      opacity: 0.5;
    }
  }
}

.loading {
  @include position(fixed, 10px, 10px, 10px, 10px);
  z-index: 5;
  transform: scaleY(1);
  transform-origin: 0 bottom;
  background: $brand-color_2;
  animation: hide 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

  @keyframes hide {
    50% {
      transform: scaleY(1);
    }
    100% {
      transform: scaleY(0);
    }
  }
}

.Logo {
  margin-right: 15px;
  width: 14px;

  .logo-path1 {
    fill: url(#d-1);
  }
  .logo-path2 {
    fill: url(#d-2);
  }
}

.title-point {
  color: $brand-color_1;
}

.dots {
  @include showAnimation;
  @include position(fixed, 50%, $lr-padding, unset, unset);
  animation-delay: 2s;

  display: flex;
  flex-direction: column;
}

//Themes
body[data-theme="black-theme"] {
  overflow: initial;
  background: $pp-color;
  header {
    color: $sc-color;

    svg .logo-path1 {
      fill: #aaaaaa;
    }
    svg .logo-path2 {
      fill: white;
    }
  }

  section {
    color: $sc-color;
    justify-content: center;

    figure {
      left: 50px;
    }

    h2 {
      color: $brand-color_1;
    }
  }

  .Dot {
    background: $sc-color;
  }
}

body[data-theme="white-theme"] {
  header {
    color: $pp-color;
  }
  section {
    color: $pp-color;
  }
}

//Render Animation
.titleAnimation {
  /* starting ENTER animation */
  &-enter {
    opacity: 0 !important;
    transform: translateY(200%) !important;
  }
  /* ending ENTER animation */
  &-enter-active {
    opacity: 0.4 !important;
    transform: translateY(0) !important;
  }
  /* starting EXIT animation */
  /* ending EXIT animation */
  &-exit,
  &-exit-active {
    display: none;
  }
}
