@import "common.scss";
@import url("https://fonts.googleapis.com/css?family=Oxygen|Roboto+Mono|Ubuntu&display=swap");

body {
  height: 100%;
  font-size: 100%;
  background: $pp-color;
  font-family: "Oxygen", sans-serif;
}
