@import "common.scss";
@import url("https://fonts.googleapis.com/css?family=Nunito:400,900|Muli:400,700,900|Roboto+Mono|Ubuntu|Raleway:400,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  ::-moz-selection {
    background: rgba($brand-color_2, 0.5);
    color: white;
  }
  ::selection {
    background: rgba($brand-color_2, 0.5);
  }
}

body {
  height: 100%;
  font-size: 100%;
  font-family: "Muli", sans-serif;
  background: $sc-color;
  overflow: hidden;
  transition: background $timing-transition ease-in;

  a {
    text-decoration: none;
    color: inherit;
  }

  button,
  section {
    outline: none;
  }

  li {
    list-style: none;
  }

  nav {
    &:hover > a:not(:hover) {
      opacity: 0.5;
    }
  }
}

//Header
.App__header {
  @include position(fixed, 0, 0, 0, 0);
  height: $header-height;
  margin: $lr-padding;
  padding: 10px;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__figure {
    height: 100%;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    a {
      display: flex;
      align-items: center;
    }

    &__text {
      @include header-text();
      font-weight: lighter;
    }
  }

  &__nav {
    display: flex;
    align-items: center;

    &__button {
      font-size: 0.8em;
      margin: 0 0 0 35px;
    }
  }
}

//Section
.App__section {
  @include position(absolute, 0, 0, 0, 0);
  max-width: $max-width;
  padding: $lr-padding;
  margin: 0 auto;
  transition: all $timing-transition ease-in;

  display: flex;
  align-items: center;

  &__figure {
    // @include showAnimation;
    position: absolute;
    right: 50px;
    width: 45%;
    z-index: -1;
  }

  &__text {
    position: relative;
    width: 60%;

    &__title {
      // @include showAnimation;
      font-size: 6em;
      font-family: "Raleway", sans-serif;
      letter-spacing: -0.02em;
      margin-bottom: 25px;
      transition: all 1s linear;
      // cubic-bezier(0.65, 0.07, 0, 1.35)
    }

    &__content {
      // @include showAnimation;
      font-size: 1.1em;
      line-height: 1.8;
      letter-spacing: 0.05em;
    }
  }

  &--contacto {
    bottom: $max-footer;
  }
}

.App__dots {
  @include showAnimation;
  @include position(fixed, 50%, $lr-padding, unset, unset);

  display: flex;
  flex-direction: column;
}

//Footer
.App__footer {
  @include showAnimation;
  @include position(fixed, unset, 0, 0, 0);
  background: white;
  max-height: $max-footer;

  &__links {
    border-bottom: 1px solid #ededed;
    max-width: $max-width;
    margin: 0 auto;
    padding: 2em $lr-padding;

    display: flex;
    justify-content: space-between;

    &__nav {
      height: 100%;
      padding: 10px;

      display: flex;
      flex-direction: column;
      justify-content: space-around;

      &__title {
        margin-bottom: 15px;
        font-weight: normal;
        color: $brand-color_2;
      }

      &__item {
        margin: 6px 0;
        font-size: 0.8em;
        line-height: 24px;
        text-transform: unset;
      }
    }
  }

  &__author {
    max-width: $max-width;
    margin: 0 auto;
    padding: 2em $lr-padding;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &__year span {
      margin-right: 10px;
    }

    &__name {
      margin-left: 10px;
      &:hover {
        color: $brand-color_2;
      }
    }

    &__emoji {
      font-size: 1.3em;
      margin: 0 10px;
    }
  }
}

//Themes
body[data-theme="black-theme"] {
  background: $pp-color;
  header {
    color: $sc-color;

    svg .logo-path1 {
      fill: #aaaaaa;
    }
    svg .logo-path2 {
      fill: white;
    }
  }

  section {
    color: $sc-color;

    h2 {
      color: $brand-color_1;
    }
  }
}

.Dot {
  background: $sc-color;
}

body[data-theme="white-theme"] {
  header {
    color: $pp-color;
  }
  section {
    color: $pp-color;
  }
}

//Render Animation
.titleAnimation {
  /* starting ENTER animation */
  &-enter {
    opacity: 0;
    transform: translateY(200%);
  }
  /* ending ENTER animation */
  &-enter-active {
    opacity: 0.4;
    transform: translateY(0);
  }
  /* starting EXIT animation */
  /* ending EXIT animation */
  &-exit,
  &-exit-active {
    display: none;
  }
}

.Logo {
  margin-right: 15px;
  width: 14px;

  .logo-path1 {
    fill: url(#d-1);
  }
  .logo-path2 {
    fill: url(#d-2);
  }
}
