//Var
// $main-font: ;
$pp-color: #191919;
$sc-color: #f2f4f6;
$brand-color_1: #11cebb;
$brand-color_2: #11a9bb;

$dot-size: 10px;
$max-width: 1200px;

$header-height: 50px;
$header-spacing: 0.15em;
$timing-transition: 500ms;

//Mixins
@mixin header-text {
  text-transform: capitalize;
  font-size: 1em;
  letter-spacing: $header-spacing;
  color: inherit;
  transition: all 300ms ease;
}
