@import url("https://fonts.googleapis.com/css?family=Muli:400,600,700,900|Roboto+Mono|Ubuntu|Raleway:400,900&display=swap");
//Vars
$pp-color: #191919;
$sc-color: #f2f4f6;
$th-color: #cc5c00;
$brand-color_1: #11cebb;
$brand-color_2: #11a9bb;

$dot-size: 10px;
$max-footer: 350px;
$max-width: 1350px;
$lr-padding: 4em;
$responsive-padding: 2.5em;
// $header-height: 50px;
$header-spacing: 0.05em;

//Transitions
$timing-transition: 500ms;
$time-delay: 0.3s;

//Breakpoints
$break-smallMax: "only screen and (max-width : 767px)";
$break-smallMin: "only screen and (min-width : 768px)";
$break-largeHeight: "only screen and (min-height: 730px) and (max-width: 767px)";
$break-landscape: "only screen and (max-width: 767px) and (max-height: 640px) and (orientation : landscape) ";
$break-largeLandscape: "only screen and (min-width: 767px) and (max-height: 768px) and (orientation : landscape) ";

//Mixins
@mixin header-text {
  font-size: 1em;
  text-transform: capitalize;
  letter-spacing: $header-spacing;
}

@mixin header-background($color) {
  background: linear-gradient(to top, rgba($color, 0), $color 40%);
}

@mixin showAnimation {
  opacity: 0;
  transform: translateY(20px);
  animation: show 800ms cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@mixin position($type, $t, $r, $b, $l) {
  position: $type;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

@mixin patternBackground($url) {
  &::before {
    content: "";
    background: url($url) repeat;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;

    @media #{$break-smallMax} {
      opacity: 0.2;
    }
  }
}

@mixin intersectionStyles {
  transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0;
  transform: translateY(100px);
}

//Keyframes
@keyframes show {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
