$size: 15px;

.Cursor {
  position: absolute;
  z-index: 2;
  pointer-events: none;

  &__dot {
    position: absolute;
    border-radius: 50%;
    width: $size;
    height: $size;
    background-color: white;
  }

  &__dot:first-of-type {
    transition: transform 100ms;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }

  &__dot:last-of-type {
    opacity: 0.4;
    transition: transform 700ms;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }
}
