$size: 10px;

.Cursor {
  position: absolute;
  z-index: 2;
  pointer-events: none;

  &__dot {
    position: absolute;
    border-radius: 50%;
    width: $size;
    height: $size;
  }

  &__dot:first-of-type {
    background-color: white;
    transition: transform 100ms;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }

  &__dot:last-of-type {
    background-color: rgba(white, 0.3);
    transition: transform 600ms;
    transition-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }
}
